@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');



@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat',sans-serif, 'Raleway';
	
  }
  body{
	background-color: #181818;
  }
.logoimg{
    height: 20px;
    width: 35px;
}
nav{
  background: #0e0e0e;
  padding: 5px 40px;
}
nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li{
  padding: 20px 0;
  cursor: pointer;
}
nav ul li.items{
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}

nav ul li.items:hover:after{
  opacity: 1;
  bottom: 8px;
}
nav ul li.logo{
  flex: 1;
  color: white;
  font-size: 23px;
  cursor: default;
  user-select: none;
}
nav ul li a{
  color: white;
  font-size: 16px;
  text-decoration: none;
  transition: .2s;
}
nav ul li:hover a{
  color: yellow;
}

nav ul li .active{
  color: yellow;
}
nav ul li i{
  font-size: 23px;
}
nav ul li.btn{
  display: none;
}
nav ul li.btn.hide i:before{
  content: '\f00d';
}
@media all and (max-width: 900px){
  nav{
    padding: 5px 30px;
  }
  nav ul li.items{
    width: 100%;
    display: none;
  }
  nav ul li.items.show{
    display: block;
  }
  nav ul li.btn{
    display: block;
  }
  nav ul li.items:hover{
    border-radius: 5px;
    box-shadow: inset 0 0 5px yellow,
                inset 0 0 5px yellow;
  }
  nav ul li.items:hover:after{
    opacity: 0;
  }
}




.whoami{
  color: white;
  font-family: Raleway;
  margin-top: 130px;
  margin-left: 230px;
}


.vline{
  width: 2px;
  position: absolute;
  margin-left: -20px;
  height: 160px;
  background-color: white;
}

.whoami p{
  font-size: 14px;
  letter-spacing: 2px;
}

.whoami h4{
  font-size: 60px;
}



.des{
  margin: 100px;
  margin-top: 120px;
  font-family: raleway;
  column-count: 2;
  column-gap: 50px;
 
}

.des h4{
  color: yellow;
  font-size: 40px;
  font-weight: 600;
}

.des .pright{
  color: white;
  font-family: raleway;
  font-weight: 200;
  line-height: 25px;

}



.leftp{

	color: white;
	font-weight: 200;
	font-family: raleway;
	line-height: 25px;

}

.leftpp{

	color: white;
	font-weight: 200;
	font-family: raleway;
	line-height: 25px;
	
}


@media all and (max-width: 995px){
	.des{
		column-count:1;
		column-gap: 0;
	}
}




.main {
	max-height: 550px;;
	background-color: #181818;
	color: white;
	font-size: 38pt;
	text-align: center;
	line-height: 550px;
}
footer{
    bottom: 0;
    background-color:#0e0e0e;
    width: 100%;   
    font-family: raleway;
    margin: auto;
}
.footerMain{
    display: flex;
    
}
.footerMain .box{
    flex-basis: 50%;
    padding: 40px 40px;
}
.footerLeft h4{
    color: white;
    font-family: raleway;
    font-size: 2.2rem;
}

.footerCenter{
    color: white;
}
.footerCenter .fa{
    font-size: 1.3rem;
    line-height: 38px;
    background-color: #2e2e2e;
    text-align: center;
    height: 38px;
    width: 38px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.footerCenter .fa:hover{
    background-color: #3b3b3b;
}

.footerCenter h4{
    font-size: 1.8rem;
}

.email a{
    text-decoration: none;
    color: white;
}

.links{
    margin-top: 15px;
}
.links a{

    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 1.3rem;
    border-radius: 5px;
    background-color: #2e2e2e;
    transition: 0.3s;
}
.links a:hover{
    background-color: #3b3b3b;
}

.footerRight h4{
    color: white;
    font-size: 1.8rem;
}

.footerLeft{
    margin: 20px 0 0 0;
}
.footerCenter{
    margin: 20px 0 0 0;
}
.footerRight{
    margin: 20px 0 0 0;
}

@media screen and (max-width: 900px){

    .footerMain{
        flex-wrap: wrap;
        flex-direction: column;
    }
}

footer hr{
    height: 2px;
    width: 90px;
    margin-top: 5px;
    background-color: white;
}


  @media all and (max-width: 710px){
	.whoami{
		color: white;
		font-family: Raleway;
		margin-top: 130px;
		margin-left: 130px;
	  }
	  
	  .vline{
		width: 2px;
		position: absolute;
		margin-left: -20px;
		height: 160px;
		background-color: white;
	  }
	  
	  .whoami p{
		font-size: 14px;
		letter-spacing: 2px;
	  }
	  
	  .whoami h4{
		font-size: 60px;
	  }
  }


  
  @media all and (max-width: 411px){
	.whoami{
		color: white;
		font-family: Raleway;
		margin-top: 130px;
		margin-left: 100px;
	  }
	  
	  .vline{
		width: 2px;
		position: absolute;
		margin-left: -20px;
		height: 110px;
		background-color: white;
	  }
	  
	  .whoami p{
		font-size: 14px;
		letter-spacing: 2px;
	  }
	  
	  .whoami h4{
		font-size: 45px;
	  }
  }


  @media all and (max-width: 414px){
	.whoami{
		color: white;
		font-family: Raleway;
		margin-top: 130px;
		margin-left: 80px;
	  }
	  
	  .vline{
		width: 2px;
		position: absolute;
		margin-left: -20px;
		height: 110px;
		background-color: white;
	  }
	  
	  .whoami p{
		font-size: 14px;
		letter-spacing: 2px;
	  }
	  
	  .whoami h4{
		font-size: 45px;
	  }
  }
  @media all and (max-width: 414px){
	.des{
		margin-left: 50px;
  		margin-top: 50px;
  		font-family: raleway;
  		display: block;
	}
	.des h4{
		color: yellow;
		font-size: 30px;
		font-weight: 600;
	  }
	  
	  .des .pright{
		color: white;
		font-family: raleway;
		font-weight: 200;
		line-height: 25px;
		margin-left: 10px;
		font-size: 12px;
	  }
	  
	  
	  .lefth4{
		  margin-left: 1px;
		  margin-top: 50px;
	  }
	  
	  .leftp{
		  margin-left: 10px;
		  color: white;
		  font-weight: 200;
		  font-family: raleway;
		  line-height: 25px;
		  font-size: 12px;
	  }
	  
	  .leftpp{
		  margin-left: 10px;
		  color: white;
		  font-weight: 200;
		  font-family: raleway;
		  line-height: 25px;
		  font-size: 12px;
	  }
  }

  @media all and (max-width: 360px){
	.whoami h4{
		font-size: 40px;
	  }
}
@media all and (max-width: 330px){
	.whoami h4{
		font-size: 35px;
	  }
}

  @media all and (max-width: 411px){
	
	.des h4{
		color: yellow;
		font-size: 35px;
		font-weight: 600;
	  }
	  
	  .des .pright{
		color: white;
		font-family: raleway;
		font-weight: 200;
		line-height: 25px;
		margin-left: 10px;
		font-size: 18px;
	  }
	  
	  
	  .lefth4{
		  margin-left: 1px;
		  margin-top: -15px;
	  }
	  
	  .leftp{
		  margin-left: 10px;
		  color: white;
		  font-weight: 200;
		  font-family: raleway;
		  line-height: 25px;
		  font-size: 18px;
	  }
	  
	  .leftpp{
		  margin-left: 10px;
		  color: white;
		  font-weight: 200;
		  font-family: raleway;
		  line-height: 25px;
		  font-size: 18px;
	  }
  }
  @media all and (max-width: 310px){
	.whoami{
		margin-left: 40px;
	
	}
}
@media all and (max-width: 442px){
	.whoami{
		margin-left: 90px;
	
	}
}
@media all and (max-width: 487px){
	.whoami h4{
		font-size: 50px;
	  }
}
@media all and (max-width: 399px){
	.whoami h4{
		font-size: 40px;
	  }
}